{% extends 'base.html' %}

{% load static %}


{% block title %} Sign Up {% endblock %}

{% block content %}

<div class="d-flex justify-content-center">

<form method="post" class="mt-4 form-control" style="width: 400px;">
	{% csrf_token %}
	<h4>Sign Up</h4>
	<input type="text" class="form-control mb-3" value="{{request.form.username}}" name="username" placeholder="username">
	<input type="password" class="form-control mb-3" value="{{request.form.password1}}" name="password1" placeholder="password">
	<input type="password" class="form-control mb-3" value="{{request.form.password2}}" name="password2" placeholder="confirm password">
	<input type="submit" class="form-control bg-dark text-light" value="Sign Up" name="">
	<a href="{% url 'login' %}" class="nav-link d-flex justify-content-center">I have an account</a>
</form>

</div>

{% endblock %}
